* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.overlay {
  height: calc(var(--vh, 1vh) * 100);
  height: 100vh;
  background-color: #000;
  position: relative;
  transition: 0.8s;
  z-index: 999;
}

.open {
  transform: translateY(-100%);
}

.overlay-container > button {
  padding: 16px 32px;
  font-size: 32px;
  border-radius: 35px;
  color: #fff;
  border: #fff 1px solid;
  background: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.overlay-container > button:hover {
  border: 3px solid #fff;
}

.overlay-container > button:active {
  border: 3px solid #3ab54a;
}

.overlay-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0.3);
  transform-origin: top left;
  transition: transform 0.5s;
}

.textbox-text {
  margin-bottom: auto;
  padding-bottom: 30px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

p > a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

#content-image {
  width: 300px;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1.3rem;
}

p {
  margin-bottom: 2rem;
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}

.text-container {
  position: absolute;
  display: none;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1080px;
  border-radius: 5px;
  z-index: 9999;
}

.content-wrapper {
  display: flex;
  gap: 10px;
}

.content-image-container {
  width: 300px;
  align-self: end;
  border-radius: 5px;
}

.content-container {
  padding: 40px;
  background: #222222;
  color: #ffffff;
  display: flex;
  border-radius: 5px;

  flex-direction: column;
}

.name {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 700;
  background: #222222;
  padding: 10px;
}

.content-container {
  font-size: 1.4rem;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
}

.btn {
  background-color: #753bbd;
  border: 1px solid #753bbd;
  border-radius: 5px;
  padding: 11px 27px;
  font-size: 1.3rem;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
  cursor: pointer;
}

/* Student Project */
.student-container {
  position: absolute;
  display: none;
  bottom: 50px;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1080px;
  border-radius: 5px;
  z-index: 9999;
}
.student-wrapper {
  padding: 40px;
  background: #222222;
  color: #ffffff;
  display: flex;
  border-radius: 5px;
  position: relative;
  flex-direction: column;
  min-height: calc(100vh - 20vh);
}

.student-video {
  padding-top: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 8px;
}

.column img {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.student-ctas {
  display: flex;
  gap: 10px;
  margin-top: 3rem;
}

.student-cta {
  text-decoration: none;
}

.audio-player {
  padding-top: 20px;
}

/* Utility Classe */
.visible {
  display: block;
}
