* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0.3);
  transform-origin: top left;
  transition: transform 0.5s;
}

.textbox-text {
  margin-bottom: auto;
  padding-bottom: 30px;
}

.textbox-text > h2 {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

.textbox-text > p > a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}


.content-image {
  width: 100%;
}

.textbox-text > h3 {
  font-size: 1.8rem;
  margin-bottom: 1.3rem;
}



.textbox-text > p {
  margin-bottom: 2rem;
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}

.text-container {
  position: absolute;
  display: none;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1080px;
  border-radius: 5px;
  z-index: 9999;
}

.content-wrapper {
  display: flex;
  gap: 10px;
}

.content-image-container {
  width: 300px;
  align-self: end;
  border-radius: 5px;

}

.content-container {
  padding: 40px;
  background: #223262;
  color: #ffffff;
  display: flex;
  border-radius: 5px;

  flex-direction: column;
}

.name {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 700;
  background: #223262;
    padding: 10px;
}

.content-container {
  font-size: 1.4rem;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
}

.btn {
  background-color: #FF6900;
  border: 1px solid #ff5e00;
  border-radius: 5px;
  padding: 11px 27px;
  font-size: 1.3rem;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
  cursor: pointer;
}


/* Student Project */
.student-container {
  position: absolute;
  display: none;
  bottom: 50px;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1080px;
  border-radius: 5px;
  z-index: 9999;
}
.student-wrapper {
  padding: 40px;
  background: #223262;
  color: #ffffff;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
}

/* Utility Classe */
.visible {
  display: block ;
}